[Unit]
Description=Blinkt! E1.31 receiver on %f

[Service]
DynamicUser=True
NoNewPrivileges=True
ProtectSystem=strict
ProtectHome=True
ProtectKernelTunables=True
ProtectKernelModules=True
ProtectControlGroups=True
DeviceAllow=%f rw
DevicePolicy=closed
MemoryDenyWriteExecute=True
PrivateTmp=True
RestrictNamespaces=True
RestrictRealtime=True
RemoveIPC=True
LockPersonality=True
MountFlags=private

SystemCallFilter=~@aio
SystemCallFilter=~@chown
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@ipc
SystemCallFilter=~@keyring
SystemCallFilter=~@memlock
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@setuid
SystemCallFilter=~@swap
SystemCallFilter=~@sync

Type=notify
ExecStart=/usr/bin/e131_blinkt --gpiodev=%f

[Install]
WantedBy=multi-user.target
